%h2 Dividend Reporter
%br/
%h3 Active Stocks Master List
%div{:style => "width:auto;overflow:hidden;"}
%br/
.clear
= form_tag update_multiple_user_stock_watches_path do 
  - if user_signed_in?
    = submit_tag 'Watch selected'
    = submit_tag 'Unwatch selected', :confirm => "You sure?"
  %br/
  %br/
  - if user_signed_in?
    = link_to_function 'Select all', "$('.stocks .checkable').trigger('click');"
  %table.stocks
    %thead
      %tr
        - if user_signed_in?
          %th Remove
        %th Company Name
        %th Symbol
        %th Last Price
        %th Ex Date
        %th Pay Date
        %th Yield
        %th.last Dividend / share
    %tbody
      - @stocks.each do |s|
        %tr{ :class => cycle("odd", "even") }
          - if user_signed_in?
            %td
              = check_box_tag("selected[#{s.id}]", s.id, checked = false, :class => "checkable")
          %td
            = link_to s.try(:company_name), stock_path(s)
          %td
            = s.try(:symbol)
          %td
            = s.quotes.last.try(:last_price)
          %td
            = s.quotes.last.try(:ex_dividend_date)
          %td
            = s.quotes.last.try(:dividend_pay_date)
          %td
            = s.quotes.last.try(:dividend_yield)
          %td.last
            = s.quotes.last.try(:dividends_per_share)
