%h2= @user.email
%br/
%h3= "You\'re currently watching #{pluralize(@user.stock_watch_ids.count, 'stock')}."
%div{:style => "width:auto;overflow:hidden;"}
%br/
.clear
= form_tag update_multiple_user_stock_watches_path do 
  = submit_tag 'Unwatch selected', :confirm => "You sure?"
  %br/
  %br/
  = link_to_function 'Select all', "$('.stocks .checkable').trigger('click');"
  %table.stocks
    %thead
      %tr
        %th Remove
        %th Company Name
        %th Symbol
        %th Last Price
        %th Ex Date
        %th Pay Date
        %th Yield
        %th.last Dividend / share
    %tbody
      - @stocks.each do |s|
        %tr{ :class => cycle("odd", "even") }
          %td
            = check_box_tag("selected[#{s.id}]", s.id, checked = false, :class => "checkable")
          %td
            = link_to s.try(:company_name), stock_path(s)
          %td
            = s.try(:symbol)
          %td
            = "$#{s.quotes.last.try(:last_price).round(2)}"
          %td
            = s.quotes.last.try(:ex_dividend_date)
          %td
            = s.quotes.last.try(:dividend_pay_date)
          %td
            = "$#{s.quotes.last.try(:dividend_yield).round(2)}"
          %td.last
            = s.quotes.last.try(:dividends_per_share)
